# **Python Dictionary**

Meaning can be duplicated, not the word.

No concept of indexes in dictionary, only key.

List cant be use as a dictionary key.

Tuples can be used as a key because its immutable.

In [1]:
d = {}
print(type(d))

<class 'dict'>

In [2]:
d = {1, 2, 3}
print(type(d))

<class 'set'>

In [ ]:
d2 = {"key1" : "jerry", "key2" : [2, 3, 4, 5]}

If you are having two key with same names, then the last value is saved.

In [4]:
d7 = {"name" : "jerry", "org" : "ineuron", "mail id" : "jerry@ineuron.in", "name" : "basil"}
print(d7)

{'name': 'basil', 'org': 'ineuron', 'mail id': 'jerry@ineuron.in'}

In [6]:
#get the email id

print(d7["mail id"])

jerry@ineuron.in

# **List all the keys**

In [12]:
print(d7.keys())
print(list(d7.keys()))

dict_keys(['name', 'org', 'mail id'])
['name', 'org', 'mail id']

# **Get all the values**

In [13]:
print(d7.values())
print(list(d7.values()))

dict_values(['basil', 'ineuron', 'jerry@ineuron.in'])
['basil', 'ineuron', 'jerry@ineuron.in']

# **Get the key value pair as tuples**

In [14]:
print(d7.items())
print(list(d7.items()))

dict_items([('name', 'basil'), ('org', 'ineuron'), ('mail id', 'jerry@ineuron.in')])
[('name', 'basil'), ('org', 'ineuron'), ('mail id', 'jerry@ineuron.in')]

# **Nested Dictionary**

In [17]:
d8 = {"name" : "jerry", "mentor" : {"name" : "anoop", "age" : 20, "mark" : 49}}

print(d8["mentor"])

{'name': 'anoop', 'age': 20, 'mark': 49}

In [18]:
print(d8["mentor"]["name"])

anoop

# **List of values of a nested dictionary**

In [20]:
print(list(d8["mentor"].values()))

['anoop', 20, 49]

In [27]:
d9 = {"name" : "jerry", "mentor" : {"name" : "anoop", "age" : 20, "mark" : 49}, "email" : {1  : "jerry@yahoo.com", 2 : "jj@gmail.com"}}

In [28]:
l = []
for keys in d9.keys():
  if type(d9[keys]) == dict:
    l.append(list(d9[keys].values()))

print(l)

[['anoop', 20, 49], ['jerry@yahoo.com', 'jj@gmail.com']]

# **Adding new key and value**

In [29]:
d9["new_key"] = "new_value"
print(d9)

{'name': 'jerry', 'mentor': {'name': 'anoop', 'age': 20, 'mark': 49}, 'email': {1: 'jerry@yahoo.com', 2: 'jj@gmail.com'}, 'new_key': 'new_value'}

# **Delete a dictionary**

In [ ]:
del d7

# **Delete a particular key**

In [30]:
del d9["new_key"]
print(d9)

{'name': 'jerry', 'mentor': {'name': 'anoop', 'age': 20, 'mark': 49}, 'email': {1: 'jerry@yahoo.com', 2: 'jj@gmail.com'}}